<html5 xmlns:htc="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <header>
        <title>Plantilla de Presentacion</title>
    </header>

    <body>
            <table border="1">
                <tr>
                    <th>Balance</th>
                    <th>Monthly payment</th>
                    <th>Capital</th>
                    <th>Interest</th>
                    <th>Iva</th>
                </tr>
                <tr th:each="month: ${tableSimulation}">
                    <td th:utext="${month.balance}"></td>
                    <td th:utext="${month.monthlyFee}"></td>
                    <td th:utext="${month.capital}"></td>
                    <td th:utext="${month.interest}"></td>
                    <td th:utext="${month.iva}"></td>

                </tr>
            </table>

    </body>
</html5>